<h3>Available flats</h3>

<% @flats.each do |flat| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Address: <%= flat.address %> </p>
      <p class="card-text">Square:<%= flat.square %> </p>
      <p class="card-text">Number of rooms:<%= flat.n_rooms %> </p>
      <p class="card-text">Floor:<%= flat.floor %> </p>
      <p class="card-text">Type of the house:<%= flat.hs_type %> </p>
      <p class="card-text">Number of floors:<%= flat.n_floors %> </p>
      <p class="card-text">Price:<%= flat.price %> </p>
    </div>
  </div>
<% end %>
