<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="flats-tab" data-toggle="tab" href="/show_flats" role="tab" aria-controls="flats" aria-selected="false">Flats</a>
    <a class="nav-link" id="reqs-tab" data-toggle="tab" href="/show_requests" role="tab" aria-controls="reqs" aria-selected="true">Requests</a>
  </div>
</nav>
<div class="tab-content show active" id="nav-tabContent">
  <div class="tab-pane active"  id="flats" role="tabpanel" aria-labelledby="flats-tab">
    <!-- RANGE SEARCH  --> 
    <form action="/show_flats_r" method="post" style="display: table">
      <div class="container p-3">
        <label for="range">Range of the price</label>
        <div class="row">
          <div class="display: table-cell m-1">
            <input type="text" class="form-control" id="range-min" name="range-min"placeholder="0">
          </div>
          <div class="display: table-cell m-1">
            <input type="text" class="form-control" id="range-max" name="range-max"placeholder="100">
          </div>
          <div class="display: table-cell m-1">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
    </form>

    <!-- GROUPED AND SORTED SEARCH -->
    <form action="/show_flats_g" method="post" style="display: table">
      <div class="container p-3">
        <label for="dist">District</label>
        <div class="row">
          <div class="display: table-cell m-1">
            <input type="text" class="form-control" id="dist" name="dist" placeholder="District">
          </div>
          <div class="display: table-cell m-1">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
    </form>
    <!-- DISPLAY -->
    <% @flats.each_with_index do |flat, index| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Address: <%= flat.address.to_s %> </p>
            <p class="card-text">Square: <%= flat.square %> </p>
            <p class="card-text">Number of rooms: <%= flat.n_rooms %> </p>
            <p class="card-text">Floor: <%= flat.floor %> </p>
            <p class="card-text">Type of the house: <%= flat.hs_type %> </p>
            <p class="card-text">Number of floors: <%= flat.n_floors %> </p>
            <p class="card-text">Price: <%= flat.price %> </p>
            <form action="/delete_flat" method="post"> 
              <input type="text" name="index" style="display:none"  value="<%= index %>">
              <button type="submit" class="btn btn-danger">Remove</button>
            </form>
        </div>
      </div>
    <% end %>
  </div>
</div>
